<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.tapziq.translator" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_keyboard"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_keyboard"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tapziq"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProofreadActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:taskAffinity="com.tapziq.keyboard.proofread"
            android:theme="@style/Theme.Tapziq.Proofread"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".TranslateBridgeActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:taskAffinity="com.tapziq.keyboard.translation"
            android:theme="@style/Theme.Tapziq.Proofread"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".TapziqInputMethodService"
            android:exported="true"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/input_method" />
        </service>
    </application>

</manifest>
